{% extends "base.html" %}

{% block title %}
    Chat room for "{{ course.title }}"
{% endblock title %}

{% block content %}
    <div id="chat">
    </div>
    <div id="chat-input">
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" type="submit" value="send">
    </div>
{% endblock content %}

{% block include_js %}
    <!--python obj as JSON in <script> tag, for safely using it with JS.
    For example:
    <script id="course-id" type="application/json">6</script>-->
    {{ course.id|json_script:"course-id" }}
{% endblock include_js %}

{% block domready %}
    // set up the connection
    const courseId = JSON.parse(
        document.getElementById('course-id').textContent
    );
    const url = 'ws://' + window.location.host + '/ws/chat/room/' + 
                courseId + '/';
    const chatSocket = new WebSocket(url);

    
    chatSocket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const chat = document.getElementById('chat');

        chat.innerHTML += '<div class="message">' +
                            data.message + '</div>';
        chat.scrollTop = chat.scrollHeight;
    };

    chatSocket.onclose = function(event) {
        console.error('Chat socket closed unexpectedly');
    };
{% endblock domready %}