{% load static %}
{% load course %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Educa{% endblock title %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">Educa</a>
            {% if request|user_is_instructor %}
                <div class="mine"><a href="{% url "manage_course_list" %}">Mine courses</a></div>
            {% endif %}
            <ul class="menu">
                {% if request.user.is_authenticated %}
                    <li>
                        <form action="{% url "logout" %}" method="post">
                            <button type="submit">Sign out</button>
                            {% csrf_token %}
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url "login" %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        {% block include_js %}
        {% endblock include_js %}
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                // DOM Loaded
                {% block domready %}
                {% endblock %}
            })
        </script>
    </body>
</html>